.App {
  display: grid;
  place-items: center;
  min-height: 100vh;
}
.component-container {
  width: 400px;
  height: 100px;
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  display: grid;
  place-items: center;
  margin: 5px 0;
  padding: 0 20px;
}
.component-container.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.component-container .side-component {
  position: absolute;
  bottom: 0;
  right: 0;
  border: 1px solid black;
  border-radius: 10px;
  display: grid;
  place-items: center;
  padding: 10px 40px;
}
.btn {
  background: none;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid black;
  outline: none;
  cursor: pointer;
  transition: all 0.2s linear;
  font-weight: 600;
}
.btn:hover {
  color: white;
  background: rgb(0, 187, 0);
}
